<div class="Footer">
    <div class="Footer__Header">
        <a class="Footer__About-Logo">
            <mat-icon class="Logo_icon">bookmark_border</mat-icon>MBook
        </a>
        <div class="Footer__About-Slogan" style="font-size: 16px; user-select: none;">
            Kiến thức trong tầm tay bạn
        </div>
    </div>

    <div>
        <div class="Footer_Body">
            <div class="Social__Contact">
                <h3>LIÊN HỆ</h3>
                <a class="Social" href="">            
                    <mat-icon style="color: #1b74e4; font-size: 25px; margin-right: 5px;">facebook</mat-icon>/yuhtaro.it/
                </a>
                <a class="Social" href="">
                    <mat-icon style="font-size: 25px; margin-right: 5px;">phone</mat-icon>0974264707
                </a>
                <a class="Social" href="">
                    <mat-icon style="font-size: 25px; color: #ea4335; margin-right: 5px;">email</mat-icon>nameishuy@gmail.com
                </a>
            </div>
            <div class="Footer__About-Contact" >
                <h3>VỀ CHÚNG TÔI</h3>
                <a href="" class="Footer__About-Link">Giới Thiệu</a>
                <a href="" class="Footer__About-Link">Tin Tức</a>
            </div>
            <div class="Footer__About-Contact" >
                <h3>NÊN ĐỌC</h3>
                <a href="" class="Footer__About-Link">Hành Động</a>
                <a href="" class="Footer__About-Link">Ngôn Tình</a>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206639905988!2d106.78291401462326!3d10.855574792267845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sHUTECH%20University%20-%20E%20Campus%20(SHTP)!5e0!3m2!1svi!2s!4v1645182904735!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</div>
