<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="py-5 my-5">
    <div class="container">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img src="{{img}}" alt="Image" class="shadow">
                    </div>
                    <h4 class="text-center">{{hovaten}}</h4>
                    <input type="file" accept="image/*" (change)="onFileSelected($event)">
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
                        aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i>
                        Cập Nhật Tài Khoản
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
                        aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i>
                        Đổi Mật Khẩu
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Account Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ Và Tên</label>
                                <input type="text" class="form-control" [(ngModel)]="hovaten">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" [(ngModel)]="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Địa Chỉ</label>
                                <input type="text" class="form-control" [(ngModel)]="diachi">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số Điện Thoại</label>
                                <input type="tel" class="form-control" [(ngModel)]="sdt">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ngày Sinh</label>
                                <input type="date" class="form-control" data-date-format="DD MMMM YYYY" [(ngModel)]="date">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="updateInfo()">Cập Nhật</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Password Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mật Khẩu Hiện Tại</label>
                                <input type="password" class="form-control" [(ngModel)]="matkhauhientai">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mật Khẩu Mới</label>
                                <input type="password" class="form-control" [(ngModel)]="matkhaumoi">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Xác Nhận Mật Khẩu</label>
                                <input type="password" class="form-control" [(ngModel)]="xacnhanmatkhau">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)=" UpdataPass()">Đổi Mật Khẩu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>