<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner Banner__Container" *ngFor="let banner of Banner">
        <div class="carousel-item Banner active">
            <img src="{{banner.Anh1}}" class="" alt="...">
        </div>
        <div class="carousel-item Banner">
            <img src="{{banner.Anh2}}" class="" alt="...">
        </div>
        <div class="carousel-item Banner">
            <img src="{{banner.Anh3}}" class="" alt="...">
        </div>
    </div>
</div>
<p class="Title">SÁCH BÁN CHẠY</p>
<div id="carouselListSelling" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <div class="Slide__Book">
                <div class="SellingBook" *ngFor="let book of BookSold1">
                    <div class="Book__Details" (click)="goDetails(book.id)">
                        <div class="ImgBook">
                            <img src="{{book.Anh}}" alt="">
                        </div>
                        <div class="BookContent">
                            <p class="BookTitle">
                                {{book.Tensach}}
                            </p>
                            <p class="Author">
                                {{book.TenTG}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000">
            <div class="Slide__Book">
                <div class="SellingBook" *ngFor="let book2 of BookSold2">
                    <div class="Book__Details" (click)="goDetails(book2.id)">
                        <div class="ImgBook">
                            <img src="{{book2.Anh}}" alt="">
                        </div>
                        <div class="BookContent">
                            <p class="BookTitle">
                                {{book2.Tensach}}
                            </p>
                            <p class="Author">
                                {{book2.TenTG}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev btnCarousel" type="button" data-target="#carouselListSelling"
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next btnCarousel" type="button" data-target="#carouselListSelling"
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
<p class="Title">SÁCH HAY</p>
<div id="carouselGoodBook" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let newbook of newbook; let isFirst = first" [class.active]="isFirst">
            <div class="Good__Book">
                <div class="Good__Book-image">
                    <img src="{{newbook.Anh}}" alt="">
                </div>
                <div class="Good__Book-about">
                    <div class="Good__Book-header">
                        <h1>{{newbook.Tensach}}</h1>
                        <p>Tác Giả: {{newbook.TenTG}}</p>
                    </div>
                    <div class="Good__Book-body">
                        {{newbook.Mota}}
                    </div>
                    <div class="Good__Book-readnow" (click)="goDetails(newbook.id)">
                        <a>Đọc Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev btnCarousel" type="button" data-target="#carouselGoodBook" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next btnCarousel" type="button" data-target="#carouselGoodBook" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div><!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "105126168831453");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v13.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>