<div class="center">
    <div class="Logo">
        <mat-icon class="Logo_icon">bookmark_border</mat-icon>MBook
    </div>
    <form method="post" action="#">
        <div class="txt_field">
            <input type="text" name="username" id="" autocomplete="off" required [(ngModel)]="username">
            <label for="label-account">Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" id="" autocomplete="off" required [(ngModel)]="password">
            <label for="label-account">Password</label>
        </div>
        <input type="submit" name="" value="Login" (click)="clickme()">
    </form>
</div>